body {
    font-size:14px;
    font-family:'roboto',Arial,Helvetica,Liberation Sans,DejaVu Sans,sans-serif;
    padding:3px 5px 3px 3px;
    margin:0;
}
.lz_chat_link{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_file{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_mail{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_human{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_accept{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}
.lz_chat_decline{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;padding:2px 0px 0px 2px;}


::-webkit-scrollbar {
    padding:1px;
    width:12px;
    height:12px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #dbe1e6;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #839bae;
}

::-webkit-scrollbar-thumb:active {
    background: #839bae;
}